/original_programs/TheLaboratoryServer2018t/nbproject/private/
/original_programs/TheLaboratoryServer2018t/build/
/original_programs/TheLaboratoryServer2018t/logs/
.DS_Store
/original_programs/.DS_Store
/original_programs/kano's_AI/*
!/original_programs/kano's_AI/*.pyc
!/original_programs/kano's_AI/*.md
*.xml
original_programs/SimpleClient2018t/nbproject/private/
/original_programs/SimpleClient2018t/dist/
/original_programs/executable_jar/logs/